@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(./assets/PlusJakartaSans-Medium.woff2);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #e4e2dc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #134243;
  font-family: 'Plus Jakarta Sans';
}
a {
  color: #418c86;
  text-decoration: none;
}
